<mat-toolbar id="navigation-top" class="navigation-top">
    <p>Bildergalerie</p>
</mat-toolbar>

<div id="content">

    <div id="tags_container">

        <p *ngIf="!loadingIds && loadedImgs?.length===0">
            Keine Bilder gefunden.
        </p>

        <mat-form-field id="tagsFormField">
            <mat-label>Setze hier Tags für das Bild:</mat-label>
            <mat-chip-list #chipList aria-label="Tags Selection" class="tags_selection">
                <mat-chip *ngFor="let tag of selectedTags" [selectable]="true" [removable]="true">
                    {{tag}}
                    <mat-icon matChipRemove (click)="removeTag(tag)">cancel</mat-icon>
                </mat-chip>
                <input color="primary" matInput [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
                    (matChipInputTokenEnd)="addTag($event)">
            </mat-chip-list>
        </mat-form-field>

        <input class="custom-file-input" type="file" accept="image/*" (change)="uploadImg($event)">

    </div>

    <div id="allImgs">



        <mat-card *ngFor="let appImg of loadedImgs;">
            <div>
                <mat-spinner *ngIf="appImg.data===undefined" [diameter]="50"></mat-spinner>
                <img class="individualImage" *ngIf="appImg.data!=undefined" src="{{appImg.data}}"
                    (click)="showLargeImageOverlay(appImg.data)">
            </div>

            <p>Id: {{appImg.id}}</p>
            <p>Hochgeladen um: {{appImg.timestamp}}</p>

            <mat-chip-list *ngIf="appImg.tags?.length>0">
                <mat-chip *ngFor="let tag of appImg.tags">{{tag}}</mat-chip>
            </mat-chip-list>
            <p *ngIf="appImg.tags===null">Keine Tags gesetzt</p>


        </mat-card>



    </div>


</div>

<mat-spinner id="uploadingSpinner" *ngIf="uploadingImg" [diameter]="50"></mat-spinner>

<div #largeImageOverlay id="largeImageOverlay" (click)="closeLargeImgOverlay()">
    <img src="{{largeImgOverlayData}}">
</div>